/* Color Pallette
Greenery #88B04B
Orion Blue #425460
*/

html {
    background-color: #425460;
    color: white;
}

body {
    background-image: url("../img/bluefloralbg.jpg");
    background-attachment: fixed;
    width: 100%;
}

#container {
    width: 75%;
    background-color: #bfc5c2;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    color: #425460;
}

ul {
    padding: 0;
}

@font-face {
    font-family: "caviar";
    src: url(fonts/CaviarDreams_Bold.ttf) format("truetype");
}

@font-face {
    font-family: "bringshoot";
    src: url(fonts/bringshoot.ttf) format("truetype");
}

h2,
h4,
nav,
.scriptSpan {
    font-family: "bringshoot";
    margin: 0;
}

h3,
h5 {
    font-family: "caviar";
    font-size: 1.6em;
    font-variant: small-caps;
}

h2,
.scriptSpan {
    font-size: 3.2em;
    padding-top: 70px;
}

h4,
nav,
.scriptSpan {
    font-size: 2em;
}

p {
    font-family: "ABeeZee";
    font-size: 1.3em;
}

footer p {
    font-size: 0.8em;
}

.hide {
    display: none;
}

.scriptSpan,
.rightAlign,
h4 {
    display: block;
    text-align: right;
    padding: 10px 0;
}

.rightAlign {
    padding: 0;
}

nav ul {
    display: inline;
}

li {
    display: inline;
}

header {
    margin: 30px;
}

header img {
    width: 70%;
}

#experience img {
    width: 25%;
}

#services h3,
#services p {
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
}

#services p {
    padding-left: 40px;
}

#contact {
    width: 50%;
    margin: auto;
}
